@media only screen and (max-width: 980px) {
	#nav-bar {
		width: 90%;
	}
	h1 { 
		width: 30%;
	}
	#body-container {
		width: 90%;
	}
	#content {
		width: 65%;
	}
	#content p {
		line-height: 24px;
		clear: both;
	}
	#picofme {
		width: 80%;
		margin: 0 32px 20px 32px;
	}
	#sidebar-content {
		width: 33%;
	}
}
@media only screen and (max-width: 768px) {
	#nav-bar {
		width: 82%;
	}
	h1 { 
		width: 30%;
	}
	#body-container {
		width: 82%;
		margin: 45px auto 45px auto;
	}
	#content {
		width: 100%;
		float: none;
	}
	#content p {
		line-height: 24px;
		clear: none;
	}
	#picofme {
		width: 50%;
		margin: 0 32px 20px 32px;
	}
	#sidebar-content {
		width: 100%;
		margin: 35px auto 45px auto;
		float: none;
	}
	#sidebar-content h3 {
		text-align: left;
	}
	#inside-sb {
		margin: 0 0 0 27px;
		justify-content: flex-start;
	}
}
@media only screen and (max-width: 640px) {
	#nav-bar {
		width: 100%;
	}
	h1 { 
		width: 100%;
	}
	#body-container {
		width: 95%;
		margin: 45px auto 45px auto;
	}
	nav {
		width:100%;
		text-align: center;
		float: none;
		clear: both;
		padding: 10px 0 10px 0;
		border-bottom: solid #cccccc;
		background: #ffffff;
	}
	#content {
		width: 100%;
		float: none;
	}
	#content p {
		line-height: 24px;
	}
	#picofme {
		width: 60%;
		float: none;
		margin: 0 32px 20px 32px;
	}
	#sidebar-content {
		width: 100%;
		margin: 35px auto 0 auto;
		float: none;
	}
	#sidebar-content h3 {
		text-align: left;
	}
	#inside-sb {
		margin: 0 0 0 27px;
		justify-content: left;
	}
	.image-row1 {
		margin: 0 32px 0 32px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.image-row2 {
		margin: 0 32px 0 32px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	.image-row3 {
		margin: 0 32px 32px 32px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}
	.image {
	margin: 0 0 32px 0;
	}
	.no-image {
	width: 0;
	height: 0;
	margin: 0;
	}

}